/* Structure
-------------------------------------------------------------- */
/*Clearfixing main elements*/
/* line 8, ../scss/default.main.scss */
body:before,
body:after,
#page:before,
#page:after {
  content: "";
  display: table;
}

/* line 13, ../scss/default.main.scss */
body:after,
#page:after {
  clear: both;
}

/* line 17, ../scss/default.main.scss */
body,
#page {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* line 21, ../scss/default.main.scss */
* {
  margin: 0;
}

/* line 24, ../scss/default.main.scss */
html, body {
  height: 100%;
}

/* line 28, ../scss/default.main.scss */
body {
  font-family: 'Muli-Regular', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #333333;
  background-color: #BCBCBC;
  position: relative;
}

/* line 37, ../scss/default.main.scss */
#page {
  max-width: 1000px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
  margin: 0 auto -185px;
  /* the bottom margin is the negative value of the footer's height */
  padding: 0 30px;
}

/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/
/* line 56, ../scss/default.main.scss */
#footer, .push {
  height: 185px;
  /* .push must be the same height as .footer */
}

/* line 60, ../scss/default.main.scss */
.push {
  width: 100%;
  overflow: hidden;
  /*clearfix*/
}

/* line 65, ../scss/default.main.scss */
#footer {
  max-width: 1000px;
  text-align: right;
  font-size: 1.6em;
  margin: 0 auto;
}

/* line 72, ../scss/default.main.scss */
#footer div {
  padding: 130px 0 10px;
}

/* line 77, ../scss/default.main.scss */
header,
#main {
  max-width: 1200px;
  float: left;
}

/* Text meant only for screen readers */
/* line 84, ../scss/default.main.scss */
.screen-reader-text,
.assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* Alignment */
/* line 91, ../scss/default.main.scss */
.alignleft {
  display: inline;
  float: left;
}

/* line 95, ../scss/default.main.scss */
.alignright {
  display: inline;
  float: right;
}

/* line 99, ../scss/default.main.scss */
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Links
-------------------------------------------------------------- */
/* line 108, ../scss/default.main.scss */
a, a:link, a:visited {
  color: #333333;
  text-decoration: none;
}

/* line 113, ../scss/default.main.scss */
a:active, a:hover {
  /*    color: #E66168;*/
  color: #E66168;
  text-decoration: none;
}

/* Headers
-------------------------------------------------------------- */
/* line 122, ../scss/default.main.scss */
h1, h2, h3, h4, h5 {
  font-weight: normal;
}

/* Header
-------------------------------------------------------------- */
/* line 128, ../scss/default.main.scss */
header {
  width: 100%;
  position: relative;
  padding: 30px 0;
}
/* line 133, ../scss/default.main.scss */
header #logo {
  width: 100%;
  border-bottom: 3px #CCC dotted;
}
/* line 138, ../scss/default.main.scss */
header h1 {
  text-transform: uppercase;
  margin: 10px 0;
}
/* line 142, ../scss/default.main.scss */
header h1 .blog-name {
  font-size: 2.8em;
}
/* line 146, ../scss/default.main.scss */
header h1 .description {
  font-size: 1.6em;
  margin-left: 10px;
}
/* line 151, ../scss/default.main.scss */
header h1 a {
  /*    opacity: 0;*/
  display: block;
  width: 100%;
}

/* Menu
-------------------------------------------------------------- */
/* line 161, ../scss/default.main.scss */
#main-menu {
  display: block;
  font-size: 1.8em;
  line-height: 1.2;
  float: right;
  padding-top: 25px;
  /*Highlight current menu item*/
}
/* line 169, ../scss/default.main.scss */
#main-menu .menu-main-navigation-container,
#main-menu #menu-main-navigation {
  float: right;
}
/* line 173, ../scss/default.main.scss */
#main-menu li {
  float: left;
  position: relative;
}
/* line 178, ../scss/default.main.scss */
#main-menu a {
  display: block;
  line-height: 2em;
  padding: 0 0 0 1.75em;
  text-decoration: none;
  background-color: #FFFFFF;
}
/* line 189, ../scss/default.main.scss */
#main-menu .current-menu-item a,
#main-menu .current-menu-ancestor a,
#main-menu .current-post-ancestor a {
  color: #E66168;
}

/* General
-------------------------------------------------------------- */
/* line 197, ../scss/default.main.scss */
#main {
  width: 100%;
}
/* line 200, ../scss/default.main.scss */
#main h2 {
  font-size: 2.2em;
  line-height: 1.2;
  padding-bottom: 15px;
  width: 100%;
  font-weight: normal;
}
/* line 208, ../scss/default.main.scss */
#main ul {
  line-height: 1.2;
  margin-left: 30px;
}
/* line 212, ../scss/default.main.scss */
#main ul li {
  padding-left: 12px;
}

/* Slideshow
-------------------------------------------------------------- */
/* line 225, ../scss/default.main.scss */
body.page-id-8 #main .photos {
  position: relative;
  padding-bottom: 0;
  z-index: 1;
}
/* line 230, ../scss/default.main.scss */
body.page-id-8 #main .photos img {
  width: 100%;
}
/* line 236, ../scss/default.main.scss */
body #main .photos {
  background-color: #F4F4F4;
  padding-bottom: 40px;
  position: absolute;
  z-index: -1;
}
/* line 242, ../scss/default.main.scss */
body #main .photos.active-display {
  position: relative;
  z-index: 1;
}
/* line 247, ../scss/default.main.scss */
body #main .photos img {
  display: none;
  max-width: 100%;
  height: auto;
}
/* line 252, ../scss/default.main.scss */
body #main .photos img.first {
  display: block;
}
/* line 257, ../scss/default.main.scss */
body #main .photos .slide-nav {
  display: none;
}
/* line 261, ../scss/default.main.scss */
body #main .photos .cycle-pager {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  z-index: 999;
}
/* line 268, ../scss/default.main.scss */
body #main .photos .cycle-pager span {
  color: #999;
  font-size: 3em;
  margin-right: 5px;
}
/* line 274, ../scss/default.main.scss */
body #main .photos .cycle-pager span:hover, body #main .photos .cycle-pager span.cycle-pager-active {
  color: #E66168;
  cursor: pointer;
}
/* line 281, ../scss/default.main.scss */
body #main .photos .cycle-overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 600;
}
/* line 287, ../scss/default.main.scss */
body #main .photos .cycle-overlay a {
  color: #FFF;
  background: #000;
  opacity: 0.5;
  padding: 30px 30px 50px 30px;
  display: block;
}
/* line 294, ../scss/default.main.scss */
body #main .photos .cycle-overlay a:hover {
  color: #CCC;
}
/* line 300, ../scss/default.main.scss */
body #main .photos .cycle-overlay .title,
body #main .photos .cycle-overlay .desc {
  width: 100%;
  display: block;
}
/* line 305, ../scss/default.main.scss */
body #main .photos .cycle-overlay .title {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}
/* line 311, ../scss/default.main.scss */
body #main .photos .cycle-overlay .desc {
  font-size: 1.8em;
}
/* line 316, ../scss/default.main.scss */
body #main .photos .arrows {
  color: #777;
  width: 10%;
  max-width: 50px;
  position: absolute;
  top: 45%;
  z-index: 999;
}
/* line 324, ../scss/default.main.scss */
body #main .photos .arrows:hover {
  color: #E66168;
}
/* line 328, ../scss/default.main.scss */
body #main .photos .arrows.prev {
  text-align: right;
  left: 0;
}
/* line 333, ../scss/default.main.scss */
body #main .photos .arrows.next {
  right: 0;
}

/* Home
-------------------------------------------------------------- */
/* line 344, ../scss/default.main.scss */
body.home #content {
  width: 100%;
  margin: 0;
  position: relative;
}
/* line 351, ../scss/default.main.scss */
body.home .slideshow_container .slideshow_description_box {
  font-family: 'Muli-Italic', Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 25px 0 30px;
  text-align: left;
}
/* line 357, ../scss/default.main.scss */
body.home .slideshow_container .slideshow_description_box div.slideshow_title {
  font-size: 1.9em;
  margin-bottom: 10px;
  text-align: left;
}
/* line 363, ../scss/default.main.scss */
body.home .slideshow_container .slideshow_description_box div.slideshow_description {
  font-size: 1.6em;
  text-align: left;
}

/* Project Category
-------------------------------------------------------------- */
/* line 375, ../scss/default.main.scss */
body.page .bbq-loading {
  font-size: 1.8em;
  margin-bottom: 20px;
}
/* line 380, ../scss/default.main.scss */
body.page .bbq-item article {
  margin-bottom: 50px;
  display: none;
}
/* line 385, ../scss/default.main.scss */
body.page .projects {
  overflow: hidden;
}
/* line 388, ../scss/default.main.scss */
body.page .projects .project {
  width: 23%;
  margin-right: 2.5%;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  float: left;
}
/* line 396, ../scss/default.main.scss */
body.page .projects .project a {
  width: 100%;
  line-height: 0;
  background-color: #E66168;
  display: block;
}
/* line 402, ../scss/default.main.scss */
body.page .projects .project a img {
  width: 100%;
}
/* line 406, ../scss/default.main.scss */
body.page .projects .project a .description {
  width: 100%;
  height: 100%;
  line-height: 1.2;
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
/* line 416, ../scss/default.main.scss */
body.page .projects .project a .description h4.title {
  font-size: 1.9em;
  line-height: 1.2;
  margin: 20px 20px 8px 20px;
}
/* line 422, ../scss/default.main.scss */
body.page .projects .project a .description p.director {
  font-size: 1.6em;
  line-height: 1.2;
  margin: 0 20px;
}
/* line 431, ../scss/default.main.scss */
body.page .projects .project a:hover .description {
  display: block;
}
/* line 435, ../scss/default.main.scss */
body.page .projects .project a:hover img {
  opacity: 0.5;
}
/* line 441, ../scss/default.main.scss */
body.page .projects .project.last {
  margin-right: 0;
}

/* Project Category: Films
------------------------------------*/
/* line 453, ../scss/default.main.scss */
body.page-id-18 .projects .project {
  width: 18%;
  margin-right: 2.5%;
  font-size: 0;
  margin-bottom: 30px;
  /*  max-width:200px;*/
}
/* line 461, ../scss/default.main.scss */
body.page-id-18 .projects .project a .play-button {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 35%;
  left: 25%;
  z-index: 5;
  background: url("../../images/play-button.png") no-repeat 0 0;
  background-size: 50% auto;
  display: none;
}
/* line 476, ../scss/default.main.scss */
body.page-id-18 .projects .project a:hover .play-button {
  display: block;
}

/* Single Post
-------------------------------------------------------------- */
/* line 490, ../scss/default.main.scss */
body.page .bbq-item .description,
body.single article .description {
  margin-top: 20px;
}
/* line 493, ../scss/default.main.scss */
body.page .bbq-item .description .post-header,
body.single article .description .post-header {
  width: 100%;
  overflow: hidden;
}
/* line 497, ../scss/default.main.scss */
body.page .bbq-item .description .post-header .info,
body.single article .description .post-header .info {
  width: 60%;
  margin-right: 5%;
  float: left;
}
/* line 503, ../scss/default.main.scss */
body.page .bbq-item .description .post-header .media-toggle,
body.single article .description .post-header .media-toggle {
  width: 35%;
  text-align: right;
  font-size: 1.6em;
  float: right;
}
/* line 509, ../scss/default.main.scss */
body.page .bbq-item .description .post-header .media-toggle a,
body.single article .description .post-header .media-toggle a {
  color: #E66168;
  margin-left: 10px;
}
/* line 513, ../scss/default.main.scss */
body.page .bbq-item .description .post-header .media-toggle a.active,
body.single article .description .post-header .media-toggle a.active {
  color: #666;
}
/* line 518, ../scss/default.main.scss */
body.page .bbq-item .description .post-header .media-toggle span,
body.single article .description .post-header .media-toggle span {
  margin-left: 10px;
}
/* line 524, ../scss/default.main.scss */
body.page .bbq-item .description .text,
body.single article .description .text {
  width: 100%;
  margin-top: 20px;
}

/* Page
-------------------------------------------------------------- */
/* line 536, ../scss/default.main.scss */
body.page #content,
body.single #content {
  width: 100%;
  margin: 0;
  position: relative;
  line-height: 1.2;
}
/* line 542, ../scss/default.main.scss */
body.page #content h3,
body.single #content h3 {
  font-size: 2em;
  margin-bottom: 15px;
  text-transform: uppercase;
}
/* line 548, ../scss/default.main.scss */
body.page #content p,
body.single #content p {
  font-size: 1.6em;
}

/* Page -- Resume
-------------------------------------------------------------- */
/* line 560, ../scss/default.main.scss */
body.page-id-4 #content h3 {
  color: #E66168;
  margin-bottom: 0;
}
/* line 565, ../scss/default.main.scss */
body.page-id-4 #content ul {
  margin-bottom: 40px;
}
/* line 568, ../scss/default.main.scss */
body.page-id-4 #content ul li {
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
}
/* line 576, ../scss/default.main.scss */
body.page-id-4 #content ul li .col1,
body.page-id-4 #content ul li .col2,
body.page-id-4 #content ul li .col3,
body.page-id-4 #content ul li .col4 {
  margin-right: 2%;
  float: left;
}
/* line 581, ../scss/default.main.scss */
body.page-id-4 #content ul li .col1 {
  width: 28%;
}
/* line 586, ../scss/default.main.scss */
body.page-id-4 #content ul li .col2,
body.page-id-4 #content ul li .col4 {
  width: 20%;
}
/* line 590, ../scss/default.main.scss */
body.page-id-4 #content ul li .col3 {
  width: 24%;
}
/* line 595, ../scss/default.main.scss */
body.page-id-4 #content ul li .title h4 {
  font-size: 1.6em;
  margin-bottom: 5px;
}
/* line 600, ../scss/default.main.scss */
body.page-id-4 #content ul li .title .note {
  font-size: 1.2em;
  margin-bottom: 10px;
  display: block;
}

/* Page - Contact
-------------------------------------------------------------- */
/* line 615, ../scss/default.main.scss */
body.page-id-6 #content a {
  color: #E66168;
}
/* line 618, ../scss/default.main.scss */
body.page-id-6 #content a:hover {
  color: #666;
}

/* Content No Found
-------------------------------------------------------------- */
/* line 627, ../scss/default.main.scss */
#content .not-found {
  font-size: 1.6em;
}

/* Footer
-------------------------------------------------------------- */
/* line 633, ../scss/default.main.scss */
#footer p {
  width: 100%;
  padding-top: 20px;
  border-top: 3px #CCC dotted;
  position: relative;
  z-index: 999;
}
