/* Structure
-------------------------------------------------------------- */
/*Clearfixing main elements*/
/* line 39, ../scss/default.main.scss */
body:before,
body:after,
#page:before,
#page:after {
  content: "";
  display: table;
}

/* line 44, ../scss/default.main.scss */
body:after,
#page:after {
  clear: both;
}

/* line 48, ../scss/default.main.scss */
body,
#page {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* line 52, ../scss/default.main.scss */
* {
  margin: 0;
}

/* line 55, ../scss/default.main.scss */
html, body {
  height: 100%;
}

/* line 59, ../scss/default.main.scss */
body {
  font-family: 'Muli-Regular', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #333333;
  background-color: #BCBCBC;
  position: relative;
}

/* line 68, ../scss/default.main.scss */
#page {
  max-width: 1000px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  background-color: #fcfbf7;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
  margin: 0 auto -185px;
  /* the bottom margin is the negative value of the footer's height */
  padding: 0 30px;
}

/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/
/* line 87, ../scss/default.main.scss */
#footer, .push {
  height: 185px;
  /* .push must be the same height as .footer */
}

/* line 91, ../scss/default.main.scss */
.push {
  width: 100%;
  overflow: hidden;
  /*clearfix*/
}

/* line 96, ../scss/default.main.scss */
#footer {
  max-width: 1000px;
  text-align: right;
  font-size: 1.6em;
  margin: 0 auto;
}

/* line 103, ../scss/default.main.scss */
#footer div {
  padding: 130px 0 10px;
}

/* line 108, ../scss/default.main.scss */
header,
#main {
  max-width: 1200px;
  float: left;
}

/* Text meant only for screen readers */
/* line 115, ../scss/default.main.scss */
.screen-reader-text,
.assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* Alignment */
/* line 122, ../scss/default.main.scss */
.alignleft {
  display: inline;
  float: left;
}

/* line 126, ../scss/default.main.scss */
.alignright {
  display: inline;
  float: right;
}

/* line 130, ../scss/default.main.scss */
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Links
-------------------------------------------------------------- */
/* line 139, ../scss/default.main.scss */
a, a:link, a:visited {
  color: #333333;
  text-decoration: none;
}

/* line 144, ../scss/default.main.scss */
a:active, a:hover {
  /*    color: #E66168;*/
  color: #E66168;
  text-decoration: none;
}

/* Headers
-------------------------------------------------------------- */
/* line 153, ../scss/default.main.scss */
h1, h2, h3, h4, h5 {
  font-weight: normal;
}

/* Header
-------------------------------------------------------------- */
/* line 159, ../scss/default.main.scss */
header {
  width: 100%;
  position: relative;
  padding: 25px 0;
}
/* line 164, ../scss/default.main.scss */
header #logo {
  width: 100%;
  border-bottom: 3px #CCC dotted;
}
/* line 169, ../scss/default.main.scss */
header h1 {
  text-transform: uppercase;
  margin: 10px 0;
}
/* line 173, ../scss/default.main.scss */
header h1 .blog-name {
  font-size: 2.2em;
}
/* line 177, ../scss/default.main.scss */
header h1 .description {
  font-size: 1.4em;
  margin-left: 10px;
}
/* line 182, ../scss/default.main.scss */
header h1 a {
  /*    opacity: 0;*/
  display: block;
  width: 100%;
}

/* Menu
-------------------------------------------------------------- */
/* line 192, ../scss/default.main.scss */
#main-menu {
  display: block;
  font-size: 1.8em;
  line-height: 1.2;
  float: right;
  padding-top: 10px;
  /*Highlight current menu item*/
}
/* line 200, ../scss/default.main.scss */
#main-menu .menu-main-navigation-container,
#main-menu #menu-main-navigation {
  float: right;
}
/* line 204, ../scss/default.main.scss */
#main-menu li {
  float: left;
  position: relative;
}
/* line 209, ../scss/default.main.scss */
#main-menu a {
  display: block;
  line-height: 2em;
  padding: 0 0 0 1.75em;
  text-decoration: none;
}
/* line 219, ../scss/default.main.scss */
#main-menu .current-menu-item a,
#main-menu .current-menu-ancestor a,
#main-menu .current-post-ancestor a {
  color: #E66168;
}

@media (max-width: 768px) {
  /* line 226, ../scss/default.main.scss */
  #main-menu {
    float: left;
  }
  /* line 229, ../scss/default.main.scss */
  #main-menu a {
    padding: 0 1em 0 0;
  }
}
/* General
-------------------------------------------------------------- */
/* line 238, ../scss/default.main.scss */
#main {
  width: 100%;
}
/* line 241, ../scss/default.main.scss */
#main h2 {
  font-size: 2.2em;
  line-height: 1.2;
  padding-bottom: 15px;
  width: 100%;
  font-weight: normal;
}
/* line 249, ../scss/default.main.scss */
#main ul {
  line-height: 1.2;
  margin-left: 30px;
}
/* line 253, ../scss/default.main.scss */
#main ul li {
  padding-left: 12px;
}

/* Page
-------------------------------------------------------------- */
/* line 264, ../scss/default.main.scss */
.page #content,
.single #content {
  width: 100%;
  margin: 0;
  position: relative;
  line-height: 1.2;
}
/* line 270, ../scss/default.main.scss */
.page #content h3,
.single #content h3 {
  font-size: 2em;
  margin-bottom: 15px;
  text-transform: uppercase;
}
/* line 276, ../scss/default.main.scss */
.page #content p,
.single #content p {
  font-size: 1.6em;
}

/* Project Media
-------------------------------------------------------------- */
/* line 286, ../scss/default.main.scss */
.page-id-8 #main .photos {
  position: relative;
  padding-bottom: 0;
  max-height: 640px;
  z-index: 1;
}
/* line 292, ../scss/default.main.scss */
.page-id-8 #main .photos img {
  width: 100%;
  height: auto;
}

/* line 301, ../scss/default.main.scss */
#main .photos,
#main .videos {
  position: absolute;
  margin-bottom: 20px;
  z-index: -1;
}
/* line 306, ../scss/default.main.scss */
#main .photos.active-display,
#main .videos.active-display {
  position: relative;
  z-index: 1;
}
/* line 311, ../scss/default.main.scss */
#main .photos img,
#main .videos img {
  display: none;
  max-width: 100%;
  height: auto;
}
/* line 316, ../scss/default.main.scss */
#main .photos img.first,
#main .videos img.first {
  display: block;
}
/* line 321, ../scss/default.main.scss */
#main .photos .slide-nav,
#main .videos .slide-nav {
  display: none;
}
/* line 325, ../scss/default.main.scss */
#main .photos .cycle-pager,
#main .videos .cycle-pager {
  width: 100%;
  height: 40px;
  background-color: #fcfbf7;
  text-align: center;
  position: relative;
  display: block;
  bottom: 0;
  z-index: 999;
}
/* line 337, ../scss/default.main.scss */
#main .photos .cycle-overlay,
#main .videos .cycle-overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 600;
}
/* line 343, ../scss/default.main.scss */
#main .photos .cycle-overlay a,
#main .videos .cycle-overlay a {
  color: #FFF;
  background: #000;
  opacity: 0.5;
  padding: 30px 30px 50px 30px;
  display: block;
}
/* line 350, ../scss/default.main.scss */
#main .photos .cycle-overlay a:hover,
#main .videos .cycle-overlay a:hover {
  color: #CCC;
}
/* line 356, ../scss/default.main.scss */
#main .photos .cycle-overlay .title,
#main .photos .cycle-overlay .desc,
#main .videos .cycle-overlay .title,
#main .videos .cycle-overlay .desc {
  width: 100%;
  display: block;
}
/* line 361, ../scss/default.main.scss */
#main .photos .cycle-overlay .title,
#main .videos .cycle-overlay .title {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}
/* line 367, ../scss/default.main.scss */
#main .photos .cycle-overlay .desc,
#main .videos .cycle-overlay .desc {
  font-size: 1.8em;
}
/* line 372, ../scss/default.main.scss */
#main .photos .arrows,
#main .videos .arrows {
  color: #777;
  width: 10%;
  max-width: 50px;
  position: absolute;
  top: 45%;
  z-index: 999;
}
/* line 380, ../scss/default.main.scss */
#main .photos .arrows:hover,
#main .videos .arrows:hover {
  color: #E66168;
}
/* line 384, ../scss/default.main.scss */
#main .photos .arrows.prev,
#main .videos .arrows.prev {
  text-align: right;
  left: 0;
}
/* line 389, ../scss/default.main.scss */
#main .photos .arrows.next,
#main .videos .arrows.next {
  right: 0;
}
/* line 395, ../scss/default.main.scss */
#main .photos {
  background-color: #F4F4F4;
}
/* line 399, ../scss/default.main.scss */
#main .photos .cycle-pager span {
  color: #999;
  font-size: 3em;
  margin-right: 5px;
}
/* line 405, ../scss/default.main.scss */
#main .photos .cycle-pager span:hover, #main .photos .cycle-pager span.cycle-pager-active {
  color: #E66168;
}
/* line 413, ../scss/default.main.scss */
#main .videos .cycle-pager {
  font-size: 16px;
}
/* line 416, ../scss/default.main.scss */
#main .videos .cycle-pager a {
  color: #666;
  margin: 10px 10px 0 0;
  display: inline-block;
}
/* line 422, ../scss/default.main.scss */
#main .videos .cycle-pager a:hover, #main .videos .cycle-pager a.cycle-pager-active {
  color: #E66168;
}

@media (max-width: 768px) {
  /* line 434, ../scss/default.main.scss */
  #main .videos .cycle-pager {
    text-align: right;
  }
  /* line 437, ../scss/default.main.scss */
  #main .videos .cycle-pager a {
    margin: 10px 0 0 25px;
    padding: 5px 8px;
    color: #FFF;
    background-color: #CCC;
    border-radius: 5px;
  }
  /* line 445, ../scss/default.main.scss */
  #main .videos .cycle-pager a:hover, #main .videos .cycle-pager a.cycle-pager-active {
    color: #FFF;
    background-color: #E66168;
  }
  /* line 450, ../scss/default.main.scss */
  #main .videos .cycle-pager a span {
    display: none;
  }
}
@media (min-width: 768px) {
  /* line 463, ../scss/default.main.scss */
  #main .bbq-item article {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  /* line 469, ../scss/default.main.scss */
  #main .bbq-item .media {
    width: 70%;
    margin-right: 2%;
    float: left;
  }
  /* line 476, ../scss/default.main.scss */
  #main .bbq-item .photos,
  #main .bbq-item .videos {
    margin-bottom: 0;
  }
  /* line 479, ../scss/default.main.scss */
  #main .bbq-item .photos .cycle-pager,
  #main .bbq-item .videos .cycle-pager {
    height: 25px;
  }
  /* line 484, ../scss/default.main.scss */
  #main .bbq-item .description {
    width: 28%;
    float: left;
  }
  /* line 489, ../scss/default.main.scss */
  #main .bbq-item .description .info,
  #main .bbq-item .description .media-toggle {
    width: 100%;
    margin-right: 0;
    float: none;
  }
  /* line 495, ../scss/default.main.scss */
  #main .bbq-item .description .info {
    margin-bottom: 20px;
  }
  /* line 498, ../scss/default.main.scss */
  #main .bbq-item .description .info h2 {
    padding-bottom: 5px;
  }
  /* line 503, ../scss/default.main.scss */
  #main .bbq-item .description .media-toggle {
    text-align: left;
  }
  /* line 507, ../scss/default.main.scss */
  #main .bbq-item .description .media-toggle a,
  #main .bbq-item .description .media-toggle span {
    margin: 0 10px 0 0;
  }
}
/* Home
-------------------------------------------------------------- */
/* line 520, ../scss/default.main.scss */
.home #content {
  width: 100%;
  margin: 0;
  position: relative;
}
/* line 527, ../scss/default.main.scss */
.home .slideshow_container .slideshow_description_box {
  font-family: 'Muli-Italic', Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 25px 0 30px;
  text-align: left;
}
/* line 533, ../scss/default.main.scss */
.home .slideshow_container .slideshow_description_box div.slideshow_title {
  font-size: 1.9em;
  margin-bottom: 10px;
  text-align: center;
}
/* line 539, ../scss/default.main.scss */
.home .slideshow_container .slideshow_description_box div.slideshow_description {
  font-size: 1.6em;
  text-align: center;
}

@media (max-width: 520px) {
  /* line 550, ../scss/default.main.scss */
  .home .slideshow_container .slideshow_description_box {
    padding: 10px 0;
  }
}
/* Project Category
-------------------------------------------------------------- */
/* line 559, ../scss/default.main.scss */
.page .bbq-loading {
  font-size: 1.8em;
  margin-bottom: 20px;
}
/* line 564, ../scss/default.main.scss */
.page .bbq-item article {
  margin-bottom: 50px;
  display: none;
}
/* line 569, ../scss/default.main.scss */
.page .projects {
  overflow: hidden;
}
/* line 572, ../scss/default.main.scss */
.page .projects .project {
  width: 23%;
  margin-right: 2.5%;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  float: left;
}
/* line 580, ../scss/default.main.scss */
.page .projects .project a {
  width: 100%;
  line-height: 0;
  background-color: #E66168;
  display: block;
}
/* line 586, ../scss/default.main.scss */
.page .projects .project a img {
  width: 100%;
  position: relative;
}
/* line 592, ../scss/default.main.scss */
.page .projects .project a.has-image img {
  z-index: 3;
}
/* line 598, ../scss/default.main.scss */
.page .projects .project a.no-image img {
  z-index: 1;
}
/* line 603, ../scss/default.main.scss */
.page .projects .project a .description {
  width: 100%;
  height: 100%;
  line-height: 1.2;
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
/* line 613, ../scss/default.main.scss */
.page .projects .project a .description h4.title {
  font-size: 1.9em;
  line-height: 1.2;
  margin: 20px 20px 8px 20px;
}
/* line 619, ../scss/default.main.scss */
.page .projects .project a .description p.director {
  font-size: 1.6em;
  line-height: 1.2;
  margin: 0 20px;
}
/* line 629, ../scss/default.main.scss */
.page .projects .project a:hover.no-image img, .page .projects .project a:hover.has-image img {
  z-index: 1;
  opacity: 0.5;
}
/* line 641, ../scss/default.main.scss */
.page .projects .project:nth-child(4n) {
  margin-right: 0;
}

@media (max-width: 520px) {
  /* line 652, ../scss/default.main.scss */
  .page .projects .project {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
}
@media (max-width: 519px) {
  /* line 667, ../scss/default.main.scss */
  .page.page-id-18 .projects .project {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 25px;
  }
  /* line 672, ../scss/default.main.scss */
  .page.page-id-18 .projects .project:nth-child(5n) {
    margin-right: 5%;
  }
  /* line 676, ../scss/default.main.scss */
  .page.page-id-18 .projects .project:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 519px) and (max-width: 767px) {
  /* line 689, ../scss/default.main.scss */
  .page .projects .project {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 25px;
  }
  /* line 695, ../scss/default.main.scss */
  .page .projects .project:nth-child(4n), .page .projects .project:nth-child(5n) {
    margin-right: 5%;
  }
  /* line 699, ../scss/default.main.scss */
  .page .projects .project:nth-child(3n) {
    margin-right: 0;
  }
  /* line 705, ../scss/default.main.scss */
  .page .projects .project a .description h4.title {
    font-size: 1.6em;
  }
  /* line 709, ../scss/default.main.scss */
  .page .projects .project a .description p.director {
    font-size: 1.4em !important;
  }
}
@media (min-width: 767px) {
  /* line 725, ../scss/default.main.scss */
  .page.page-id-18 .projects .project {
    width: 18%;
    margin-right: 2.5%;
    font-size: 0;
    margin-bottom: 30px;
  }
  /* line 731, ../scss/default.main.scss */
  .page.page-id-18 .projects .project:nth-child(5n) {
    margin-right: 0;
  }
}
/* Project Category: Films
------------------------------------*/
/* line 747, ../scss/default.main.scss */
.page.page-id-18 .projects .project a .play-button {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 35%;
  left: 25%;
  z-index: 5;
  background: url("../../images/play-button.png") no-repeat 0 0;
  background-size: 50% auto;
  display: none;
}
/* line 760, ../scss/default.main.scss */
.page.page-id-18 .projects .project a:hover .play-button {
  display: block;
}

/* Single Post
-------------------------------------------------------------- */
/* line 776, ../scss/default.main.scss */
.page .bbq-item .description .post-header,
.single article .description .post-header {
  width: 100%;
  overflow: hidden;
}
/* line 780, ../scss/default.main.scss */
.page .bbq-item .description .post-header .info,
.single article .description .post-header .info {
  width: 60%;
  margin-right: 5%;
  float: left;
}
/* line 786, ../scss/default.main.scss */
.page .bbq-item .description .post-header .media-toggle,
.single article .description .post-header .media-toggle {
  width: 35%;
  text-align: right;
  font-size: 1.6em;
  float: right;
}
/* line 792, ../scss/default.main.scss */
.page .bbq-item .description .post-header .media-toggle a,
.single article .description .post-header .media-toggle a {
  color: #666;
  margin-left: 10px;
}
/* line 796, ../scss/default.main.scss */
.page .bbq-item .description .post-header .media-toggle a:hover,
.single article .description .post-header .media-toggle a:hover {
  color: #E66168;
}
/* line 800, ../scss/default.main.scss */
.page .bbq-item .description .post-header .media-toggle a.active,
.single article .description .post-header .media-toggle a.active {
  color: #E66168;
}
/* line 803, ../scss/default.main.scss */
.page .bbq-item .description .post-header .media-toggle a.active:hover,
.single article .description .post-header .media-toggle a.active:hover {
  cursor: default;
}
/* line 809, ../scss/default.main.scss */
.page .bbq-item .description .post-header .media-toggle span,
.single article .description .post-header .media-toggle span {
  margin-left: 10px;
}
/* line 815, ../scss/default.main.scss */
.page .bbq-item .description .text,
.single article .description .text {
  width: 100%;
  margin-top: 20px;
}

/* Page -- Resume
-------------------------------------------------------------- */
/* line 828, ../scss/default.main.scss */
.page-id-4 #content h3 {
  color: #E66168;
  margin-bottom: 0;
}
/* line 833, ../scss/default.main.scss */
.page-id-4 #content ul {
  margin-left: 0px;
  margin-bottom: 40px;
}
/* line 837, ../scss/default.main.scss */
.page-id-4 #content ul li {
  width: 100%;
  padding-left: 0px;
  margin-bottom: 15px;
  overflow: hidden;
}
/* line 846, ../scss/default.main.scss */
.page-id-4 #content ul li .col1,
.page-id-4 #content ul li .col2,
.page-id-4 #content ul li .col3,
.page-id-4 #content ul li .col4 {
  margin-right: 2%;
  float: left;
}
/* line 851, ../scss/default.main.scss */
.page-id-4 #content ul li .col1 {
  width: 28%;
}
/* line 856, ../scss/default.main.scss */
.page-id-4 #content ul li .col2,
.page-id-4 #content ul li .col4 {
  width: 20%;
}
/* line 860, ../scss/default.main.scss */
.page-id-4 #content ul li .col3 {
  width: 24%;
}
/* line 865, ../scss/default.main.scss */
.page-id-4 #content ul li .title h4 {
  font-size: 1.6em;
  margin-bottom: 5px;
}
/* line 870, ../scss/default.main.scss */
.page-id-4 #content ul li .title .note {
  font-size: 1.2em;
  margin-bottom: 10px;
  display: block;
}

@media (max-width: 767px) {
  /* line 886, ../scss/default.main.scss */
  .page-id-4 #content ul li {
    margin-bottom: 35px;
  }
  /* line 892, ../scss/default.main.scss */
  .page-id-4 #content ul li .col1,
  .page-id-4 #content ul li .col2,
  .page-id-4 #content ul li .col3,
  .page-id-4 #content ul li .col4 {
    width: 100%;
    margin-right: 0;
    float: none;
  }
  /* line 899, ../scss/default.main.scss */
  .page-id-4 #content ul li .title h4 {
    margin-bottom: 0;
  }
}
/* Page - Contact
-------------------------------------------------------------- */
/* line 914, ../scss/default.main.scss */
.page-id-6 #content a {
  color: #E66168;
}
/* line 917, ../scss/default.main.scss */
.page-id-6 #content a:hover {
  color: #666;
}

/* Content No Found
-------------------------------------------------------------- */
/* line 926, ../scss/default.main.scss */
#content .not-found {
  font-size: 1.6em;
}

/* Footer
-------------------------------------------------------------- */
/* line 932, ../scss/default.main.scss */
#footer {
  width: 100%;
  position: relative;
  z-index: 999;
}
/* line 937, ../scss/default.main.scss */
#footer p {
  border-top: 3px #CCC dotted;
  padding-top: 20px;
  margin: 0 30px;
}
