
/* Structure
-------------------------------------------------------------- */
/*Clearfixing main elements*/
body:before,
body:after,
#page:before,
#page:after {
    content:"";
    display:table;
}
body:after,
#page:after {
    clear:both;
}
body,
#page {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}

body {
    font-family: 'Muli-Regular', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: 1;
    color: #333333;
	background-color:#BCBCBC;
    position: relative;
}

#page {
    max-width: 1200px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
	background-color:#FFFFFF;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    margin: 0 auto -185px; /* the bottom margin is the negative value of the footer's height */;
    padding: 0 30px;
}

/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/

#footer, .push {
    height: 185px; /* .push must be the same height as .footer */
}

.push {
    width: 100%;
    overflow: hidden; /*clearfix*/
}

#footer {
    max-width: 1200px;
    text-align: right;
    font-size: 1.6em;
    margin: 0 auto;
}

#footer div {
    padding: 130px 0 10px;
}

header,
#main {
    max-width: 1200px;
    float: left;
}

/* Text meant only for screen readers */
.screen-reader-text,
.assistive-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

/* Alignment */
.alignleft {
    display: inline;
    float: left;
}
.alignright {
    display: inline;
    float: right;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Links
-------------------------------------------------------------- */
a, a:link, a:visited {
    color: #333333;
    text-decoration: none;
}

a:active, a:hover {
/*    color: #E66168;*/
	color: #E66168;
    text-decoration: none;
}


/* Headers
-------------------------------------------------------------- */
h1, h2, h3, h4, h5 {
    font-weight: normal;
}

/* Header
-------------------------------------------------------------- */
header {
	width:100%;
    position: relative;
    padding: 30px 0;
}

header #logo {
    width: 100%;
	border-bottom:3px #CCC dotted;
}

header h1 {
	text-transform:uppercase;
	margin:10px 0;
}

header h1 .blog-name {
    font-size: 2.8em;
}

header h1 .description {
    font-size: 1.6em;
	margin-left:10px;
}

header h1 a {
/*    opacity: 0;*/
    display: block;
    width: 100%;
}

/* Menu
-------------------------------------------------------------- */
#main-menu {
    display: block;
    font-size: 1.8em;
    line-height: 1.2;
    float: right;
    padding-top: 25px;
}

#main-menu .menu-main-navigation-container,
#main-menu #menu-main-navigation {
    float: right;
}

#main-menu li {
    float: left;
    position: relative;
}

#main-menu a {
    display: block;
    line-height: 2em;
    padding: 0 0 0 1.75em;
    text-decoration: none;
    background-color: #FFFFFF;
}

#main-menu ul ul {
    border-top: solid #f4f4f4 1px;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
       -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    -webkit-border-radius: 0 0 10px 10px;
       -moz-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
    padding-bottom: .5em;
    background-color: #FFFFFF;
    display: none;
    position: absolute;
    top: 2em;
    left: 1.75em;
    z-index: 99999;
}

#main-menu ul ul ul {
    left: 100%;
    top: 0;
}
#main-menu ul ul a {
    line-height: 1.2em;
    padding: .5em .5em .5em 1em;
    width: 14em;
    height: auto;
    background-color: #FFF;
}
#main-menu li:hover > a,
#main-menu ul ul :hover > a {
    background-color: #FFF;
}
#main-menu ul ul a:hover {
    background-color: #FFF;
}
#main-menu ul li:hover > ul {
    display: block;
}

/*Highlight current menu item*/
#main-menu .current-menu-item a,
#main-menu .current-menu-ancestor a,
#main-menu .current-post-ancestor a {
    color: #E66168;
}

#main-menu .current-menu-item .sub-menu a,
#main-menu .current-menu-ancestor ul li a,
#main-menu .current-post-ancestor ul li a {
    color: #666;
}

#main-menu .current-menu-item .sub-menu a:hover,
#main-menu .current-menu-ancestor ul li a:hover,
#main-menu .current-post-ancestor ul li a:hover {
    color: #E66168;
}

#main-menu .current-menu-ancestor ul li.current-menu-item a,
#main-menu .current-post-ancestor ul li.current-post-parent a {
    color: #E66168;
}

/* General
-------------------------------------------------------------- */
#main {
	width:100%;
}

#main h2 {
    font-size: 2.2em;
    line-height: 1.2;
    padding-bottom: 15px;
    width: 100%;
    font-weight: normal;
}

#main #content blockquote {
    font-family: 'Muli-Italic', Helvetica, Arial, sans-serif;
    margin: 0 50px;
    color: #999999;
}

#main #content ul {
    line-height: 1.2;
    margin-left: 30px;
}

#main #content ul li {
    padding-left: 12px;
    background: url('../../images/list-bullet-blue.png') no-repeat 0 7px;
}

/* Slideshow
-------------------------------------------------------------- */
#main .photos {
	background-color:#F4F4F4;
	position:relative;
}

#main .photos img {
	display:none;
}

#main .photos img.first {
	display:block;
}

#main .photos img {
	max-width:100%;
	height:auto;
}

#main .photos .slide-nav {
	display:none;
}

#main .photos .cycle-overlay {
	width: 100%;
	position:absolute;
	bottom: 0;
	z-index: 600;
}

#main .photos .cycle-overlay a {
    color:#FFF;
	background: #000;
	opacity: 0.5;
	padding: 30px 30px 50px 30px;
	display:block;
}

#main .photos .cycle-overlay a:hover {
	color:#CCC;
}

#main .photos .cycle-overlay .title,
#main .photos .cycle-overlay .desc {
	width:100%;
	display:block;
}

#main .photos .cycle-overlay .title {
	font-weight:bold;
	font-size:2em;
	margin-bottom:20px;
}

#main .photos .cycle-overlay .desc {
	font-size:1.2em;
}

#main .photos .arrows {
	color:#777;
	width:10%;
	max-width:50px;
	position:absolute;
	top:0;
	bottom:0;
	z-index:999;
}

#main .photos .arrows {
	top:48%;
}

#main .photos .arrows:hover {
	color:#E66168;
}

#main .photos .arrows.prev {
	text-align:right;
	left:0;
}

#main .photos .arrows.next {
	right:0;
}

/* Home
-------------------------------------------------------------- */
body.home #content {
	width:100%;
    margin: 0;
    position: relative;
}

/*body.home #gallery-home {
    width:100%;
}

body.home #gallery-home h2 {
    font-family: 'Muli-Italic', Helvetica, Arial, sans-serif;
    font-weight: normal;
}*/

body.home .slideshow_container .slideshow_description_box {
    font-family: 'Muli-Italic', Helvetica, Arial, sans-serif;
    font-weight: normal;
	padding: 25px 0 30px;
	text-align:left;
}

body.home .slideshow_container .slideshow_description_box div.slideshow_title {
	font-size: 1.9em;
	margin-bottom:10px;
	text-align: left;
}

body.home .slideshow_container .slideshow_description_box div.slideshow_description {
	font-size: 1.6em;
	text-align: left;
}


/*@media (max-width: 600px) {*/
	body.home .slideshow_container {
		padding-bottom: 40px;
	}
/*}*/

/* Project Category
-------------------------------------------------------------- */
body.page .projects .project {
	width:20%;
	margin-right:2%;
	position:relative;
	float:left;
}

body.page .bbq-loading {
	font-size:1.8em;
	margin-bottom:20px;
}

body.page .projects {
	overflow:hidden;
}

body.page .projects .project a {
	width:100%;
	background-color: #E66168;
	display:block;
/*	font-size:0;
	line-height:0;*/
}

body.page .projects .project a img {
	width:100%;
}

body.page .projects .project:first-child {
	margin-left:0;
}

body.page .projects .project:hover img {
	opacity:0.5;
}

body.page .bbq-item article {
	margin-bottom:50px;
	display:none;
}

/*Films
------------------------------------*/
body.page-id-18 .projects .project {
	width:18%;
	margin-right:2.5%;
	font-size:0;
	margin-bottom:30px;
/*	max-width:200px;*/
}

body.page-id-18 .projects .project.last {
	margin-right:0;
}

body.page-id-18 .projects .project .play-button {
	width:88px;
	height:88px;
	position:absolute;
	top:106px;
	left:56px;
	z-index:5;
	background: url('../../images/play-button.png') no-repeat 0 0;
	display:none;
}

body.page-id-18 .projects .project:hover .play-button {
	display:block;
}

body.page .projects .project a .description {
	width:100%;
	height:100%;
	font-size:100% !important;
	line-height:1.2 !important;
	color: #FFF;
	position:absolute;
	top:0;
	left:0;
	display:none;
}

body.page .projects .project:hover .description {
	display:block;
}

body.page .projects .project .description h4.title {
	font-size:1.9em;
	line-height:1.2;
	margin: 20px 20px 8px 20px;
}

body.page .projects .project .description p.director {
	font-size:1.6em;
	line-height:1.2;
	margin: 0 20px;
}

/* Single Post
-------------------------------------------------------------- */
body.page .bbq-item .description {
	margin-top:20px;
}

body.page .bbq-item .description .post-header {
	width:100%;
	overflow:hidden;
}

body.page .bbq-item .description .post-header .info {
	width:60%;
	margin-right:5%;
	float:left;
}

body.page .bbq-item .description .post-header .media-toggle {
	width:35%;
	text-align:right;
	font-size:1.6em;
	float:right;
}

body.page .bbq-item .description .post-header .media-toggle a {
	color:#E66168;
	margin-left:10px;
}

body.page .bbq-item .description .post-header .media-toggle span {
	margin-left:10px;
}

body.page .bbq-item .description .post-header .media-toggle a.active {
	color:#666;
}

body.page .bbq-item .description .text {
	width:100%;
	margin-top:20px;
}

/* Page
-------------------------------------------------------------- */
body.page #content {
	width:100%;
    margin: 0;
    position: relative;
	line-height:1.2;
}

body.page #content h3 {
    font-size:2em;
	margin-bottom:15px;
	text-transform:uppercase;
}

body.page #content p {
    font-size:1.6em;
}


/* Page -- Resume
-------------------------------------------------------------- */
body.page-id-4 #content ul {
	margin-bottom: 40px;
}

body.page-id-4 #content h3 {
	color:#E66168;
	margin-bottom:0;
}

body.page-id-4 #content ul li {
	width:100%;
	margin-bottom:15px;
	overflow:hidden;
}

body.page-id-4 #content ul li .col1,
body.page-id-4 #content ul li .col2,
body.page-id-4 #content ul li .col3,
body.page-id-4 #content ul li .col4 {
	margin-right:2%;
	float:left;
}

body.page-id-4 #content ul li .col1 {
	width:28%;
}

body.page-id-4 #content ul li .col2,
body.page-id-4 #content ul li .col4 {
	width:20%;
}

body.page-id-4 #content ul li .col3 {
	width:24%;
}

body.page-id-4 #content ul li .title h4 {
	font-size:1.6em;
	margin-bottom:5px;
}

body.page-id-4 #content ul li .title .note {
	font-size:1.2em;
	margin-bottom:10px;
	display:block;
}

/* Page - Contact
-------------------------------------------------------------- */
body.page-id-6 #content a {
	color:#E66168;
}

body.page-id-6 #content a:hover {
	color:#666;
}

/* Content No Found
-------------------------------------------------------------- */
#content .not-found {
    font-size: 1.6em;
}

/* Content No Found
-------------------------------------------------------------- */
#footer p {
	width:100%;
	padding-top:20px;
	border-top:3px #CCC dotted;
	position:relative;
	z-index:999;
}